/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* My custom colors */
:root {
    --MyRed: #841919;
    --MyRedAlt: #c05a5a;
    --MyYellow: #FDFBF7;
    --MyYellowDark: #fdf7ed;
    --MyTanBrown: #B0A594;
    --MyGreyTan: #DAD7CD;
    --MyPurple: #A389A7;
    --MyPurpleDark: #7B6C76;
    --MyPurpleLight: #DEA5E6;
    --MyCharcoal: #424B54;
    --MyBrown: #A78A7F;
    --MyPink: #A27B91;
    --MyPinkHover: #AE8892;
}

a.navbar-brand {
   
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Custom NavBar Styling 
--------------------------------------------------------------------------------------
*/
.navbar-light {
    background-color: #FDFBF7;
}
.navbar-light .navbar-nav .nav-link {
        color: var(--MyRed);
        color: var(--MyRed);
 }
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: var(--MyRedAlt);
 }
.nav-link .text-dark {
    color: var(--MyRed);
}

/* Provide sufficient contrast against white background */
a {
    color: var(--MyRed);
}
a:hover{
    color:var(--MyRedAlt);
}

.btn-primary {
    color: #fff;
    background-color: var(--MyPink);
    border-color: var(--MyPink);
}
    .btn-primary:hover {
        background-color: var(--MyPinkHover);
        border-color: var(--MyPink);
    }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #1b6ec2;
        border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom footer modifications */
.navbar-nav .nav-link{
    padding: .5em;
}
.footer a.nav-link {
    color: lightgrey;
}
.footer a.nav-link:hover {
    color: grey;
}


/* Card CSS 
---------------------------------------------------- */
.border {
    border-color: var(--MyPink) !important;
}

.card-header {
    background-color: #FDFBF7 !important;
    border-bottom-color: var(--MyPink) !important;
}

/* Button CSS
---------------------------------------------------- */
.btn.gameBtn {
    background-color: var(--MyRedAlt);
    color: #fff;
}
.btn.gameBtn:hover {
    color: #dedede;
}


.table .thead-dark th {
    background-color: var(--MyRedAlt);
    border-color: var(--MyRedAlt);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: var(--MyYellowDark);
}
.table-hover tbody tr:hover {
    background-color: #FFF5E6;
}

div.p{
    line-height:1.6;
}
h4.redTitle {
    color: var(--MyRed);
   font-family: 'Montserrat', sans-serif;  
}
h3.redTitle {
    color: var(--MyRed);
    font-family: 'Montserrat', sans-serif;
}
h1.tableHeadText {
    color: var(--MyCharcoal);
    font-family: 'Montserrat', sans-serif;
}
.card-header {
    font-family: 'Open Sans', sans-serif;
    color: var(--MyRed);
    font-weight: bold;
}
.jumbotron.titleJumbo{
    background-image:url(/images/backgroundPrintFaded.png);
    background-color:white;
    background-position:center;
    background-size:cover;
}